<div 
  id="message-<%= message.id %>"
  class="
    messages__message 
    messages__message<%= message_position = message.user_id == current_user.id ? '--right' : '--left'%>"
  >
  <small class="messages__author">
    <i><%= message.user.full_name %></i>
    <span><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></span>
  </small>
  <p class="messages__text"><%= message.content %></p>
</div>