<%= render 'shared/banner_profile' %>
<div class="container">
  <div class="row">
    <% if @user.identity.nil? %>
      <%= render 'shared/profile_welcome' %>
    <% else %>
      <%= render 'shared/profile_working' %>
    <% end %>
    <hr>
    <div class="container">
      <%= render 'shared/partnership' %>
    </div>

    <% if current_user == @users_staff && current_user == @user %>
      <div class="container">
      <%= render 'shared/ambassador_package' %>
    </div>
    <% end %>
    <% unless current_user != @user.id %>
      <!-- renderiza apenas se o user for o dono do profile acessado -->
      <div class="mt-5">
        <% if @user.status == 'approved' %>
          <h1 class="text-primary text-right m-3">
            <span class="text-danger">PREMIUM</span>NEWSLETTER
          </h1>
          <h5 class="text-primary m-3 text-right font-weight-bold">
            <span class="text-success text-uppercase">you are subscribed to our newsletter</span>
          </h5>
          <div class="container">
            <hr>
            <%= render 'shared/newsletter_prez' %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <hr>
