<%= render 'shared/banner_profile' %>
<div class="container">
  <div class="row">
    <% if @user.identity.nil? %>
      <%= render 'shared/profile_welcome' %>
    <% else %>
      <%= render 'shared/profile_working' %>
    <% end %>
    <hr>
    <% if current_user == @user && @user.member != 'STAFF' %>

        <div class="container">
          <%= render 'shared/partnership' %>
        </div>
      <% else %>
        <%# unless @user.member == 'STAFF' %>
              <h1 class="text-primary text-right m-3">
                <span class="text-danger">OTHERS </span>DELEGATES </h1>
            <%= render 'shared/delegates_others' %>
        <%# end %>
    <% end %>


    <% if @user.member == 'STAFF' && current_user == @user %>
      <h1 class="text-primary text-right m-3">
            <span class="text-danger">AMBASSADOR</span> KIT
          </h1>
      <div class="container">
        <%= render 'shared/ambassador_package' %>
      </div>
    <% else %>
      <% unless current_user != @user.id %>
        <!-- renderiza apenas se o user for o dono do profile acessado -->
        <div class="mt-5">
          <% if @user.status == 'approved' &&  @user.member != 'STAFF' %>
            <h1 class="text-primary text-right m-3">
              <span class="text-danger">PREMIUM</span>NEWSLETTER
            </h1>
            <h5 class="text-primary m-3 text-right font-weight-bold">
              <span class="text-success text-uppercase">you are subscribed to our newsletter</span>
            </h5>
            <div class="container">
              <hr>
              <%= render 'shared/newsletter_prez' %>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>

  </div>
