<h1 class="mt-5 text-primary"><%= @pitching.name %></h1>
<h5>by <%= @pitching.user.first_name %> <%= @pitching.user.last_name %></h5>




  <div class="mb-3">
    <div class="embed-responsive embed-responsive-16by9 min-vw">
        <iframe class="embed-responsive-item" src="<%=@pitching.video%>" title="YouTube video" allowfullscreen></iframe>
    </div>
  </div>
<p class="text-justify mb-3"><%= @pitching.description %></p>

