  <div id="image" class="banner" style="background-image: linear-gradient(rgba(0,53,135,0.4),rgba(0,53,135,0.4)), url(https://res.cloudinary.com/numama/image/upload/v1621175877/DISCOSPORT/runners_women_ftnzgx.jpg);">
    <div class="container p-3">
      <div class="container text-uppercase">
        <%= image_tag "https://res.cloudinary.com/numama/image/upload/v1616778797/DISCOSPORT/LOGO1_DISCOSPORT_MASTER_wtwyli.png" ,  class: "img-fluid", style: "max-width: 50%; min-width: 30%;" %>
        <hr>
        <h2 class="text-white">PREMIUM <span class="text-danger"> NEWSLETTER </span> </h2>
              <%# <h5 class="text-white"> THE FAST-GROWING MARKETPLACE OF SUBSAHARAN AFRICA </h5> %>
                                        <p class="mt-3 text-uppercase font-weight-bold">For any editorial suggestion contact our journalist team  :  news@discosport.tv</p>
                          <a class="text-uppercase btn btn-success btn-sm" href="mailto:news@discosport.tv?subject=DISCOSPORT|ADD-ON"> contact our journalist team</a>
                          <hr>
                          <h4 class="text-danger text-right"> 24 - 26 April 2022 <span class="text-white font-weight-bold"> Kigali Convention Center |  Rwanda </span> </h4>

              <% if user_signed_in? %>
                        <% if current_user.status == 'approved' %>
                            <p  class="text-right "> FORUM LIVE FROM LOS ANGELES & KIGALI | 25 OCT. - 19 NOV. 2021 </p>
                            <p  class="text-right text-success font-weight-bold ">  YOU ARE INVITED</p>

                            <% else %>
                            <p  class="text-right "> <span class="text-danger font-weight-bold"> YOUR PROFILE WILL BE SOON APPROVED</span></p>

                            <% end %>
                      <% else %>
                        <%# <p  class="">FORUM LIVE FROM LOS ANGELES & 25 OCT. - 19 NOV. 2021 | <span class="text-danger font-weight-bold"> BY INVITATION ONLY  </span></p> %>
                        <%= link_to "SIGN UP NOW", new_user_registration_path, class: " btn btn-lg btn-outline-danger" %>

              <% end %>

            </div>
          </div>
    </div>

<div class=" mt-3">
  <% @newsletters.each do |newsletter| %>
  <div class="card mb-3" >
    <div class="row g-0">
      <div class="col-md-2">

          <%= image_tag newsletter.photo, :crop=>"crop", :width=>200, :height=>200 %>

      </div>
      <div class="col-md-9">
        <div class="card-body ml-2">
          <h5 class="card-title text-uppercase"><%= newsletter.title %></h5>

                                   <p class="card-text"> <span class="font-weight-bold"> <%= newsletter.punshline %></span> </p>
        <div class="d-flex justify-content-end">
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newsletter<%= newsletter.id %>">
              Read the article
              </button>
        </div>

    </div>

  </div>
    </div>
      </div>
      <!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="newsletter<%= newsletter.id %>" >
  <div class="modal-dialog modal-dialogue-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title font-weight-bold text-uppercase"> <%= newsletter.title %></h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body text-justify">
       <%= image_tag newsletter.photo,  class: "card-img-top ", alt: "Card image cap" %>
       <hr>
       <h5 class="text-primary mb-3"><%= newsletter.punshline %> </h5>

       <p> <%= newsletter.article %>  </p>
     </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
<!--         <button type="button" class="btn btn-primary">Understood</button>
 -->      </div>
    </div>
  </div>
</div>
<% end %>

</div>
