
<div class="chatroom">
  <div class="chatroom__container">
    <div id="messages" class="messages" data-chatroom-id="<%= @chatroom.id %>">
      <% @chatroom.messages.each do |message| %>
        <div 
          id="message-<%= message.id %>"
          class="
            messages__message 
            messages__message<%= message_position = message.user_id == current_user.id ? '--right' : '--left'%>">
          <small class="messages__author">
            <i><%= message.user.full_name %></i>
            <span><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></span>
          </small>
          <p class="messages__text"><%= message.content %></p>
        </div>
      <% end %>
    </div>
    <%= simple_form_for [ @chatroom, @message ],  html: { class: 'chatroom__form' }, remote: true do |f| %>
      <%= button_tag(class: "chatroom__submit") do %>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" x="0px" y="0px" id="chatSubmit">
          <title>arrow, interface, paper, plane, right, send, user </title>
          <path fill="currentColor" d="M22,12a1,1,0,0,1-.5937.9136l-18,8A1,1,0,0,1,2.1519,19.47L5.24,14.5291,12,12,5.2286,9.4526,2.1519,4.53A1,1,0,0,1,3.4063,3.0864l18,8A1,1,0,0,1,22,12Z"/>
        </svg>
      <% end %>
      <%= f.input :content, label: false, placeholder: "Message" %>
    <% end %>
    <%= link_to 'Close chat', :back, class: "btn btn-danger btn-sm chatroom__btn" %>
  </div>
</div>
