<h5>Active Conversations</h5>
<div class="container">
  <% @chatrooms_created.each do |chatroom| %>
    <!-- talking to user: -->
    <p><%= link_to User.find(chatroom.invited_id).full_name, chatroom_path(chatroom), remote: true %></p>
    <!-- only shows last message if it doesn't belongs to current_user -->
    <% if chatroom.messages.last.user_id != current_user.id %>
      <!-- created at of the chatroom's last message  -->
      <p><%= chatroom.messages.last.created_at.day.ordinalize %> <%= chatroom.messages.last.created_at.strftime("%B") %></p>
      <!-- content of the chatroom's last message  -->
      <p><%= chatroom.messages.last.content %></p>
    <% end %>
  <% end %>
</div>
<div class="container">
  <% @chatrooms_invited.each do |chatroom| %>
    <!-- talking to user: -->
    <p><%= link_to chatroom.user.full_name, chatroom_path(chatroom), remote: true %></p>
    <!-- only shows last message if it doesn't belongs to current_user -->
    <% if chatroom.messages.last.user_id != current_user.id %>
      <!-- created at of the chatroom's last message  -->
      <p><%= chatroom.messages.last.created_at.day.ordinalize %> <%= chatroom.messages.last.created_at.strftime("%B") %></p>
      <!-- content of the chatroom's last message  -->
      <p><%= chatroom.messages.last.content %></p>
    <% end %>
  <% end %>
</div>
<!-- modal to chatroom -->
<div class="modal fade" id="chatModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>