
<% if @users_pending.nil? %>
  <div class="mt-3 text-uppercase text-center text-primary">
    <h2>NO PENDING VALIDATION (<%= @users_pending.count %>)</h2>
  </div>
<% else %>
  <div class="mt-3 text-uppercase text-center text-danger">
  <h2> PENDING VALIDATION (<%= @users_pending.count %>)</h2>
  </div>
<% end %>

<div class="card-columns">

  <%= render 'shared/delegate_card_pending' %>

</div>

<div class="mt-3 text-uppercase text-center  text-primary">
<h2>DELEGATE APPROVED (<%= @users_approved.count %>)</h2>
</div>

<div class="card-columns">
  <%= render 'shared/delegate_card_approved' %>

</div>
