<% @users_pending.each do |user| %>
  <div class="delegate-card">
    <div class="delegate-card__main">
      <% if user.avatar.attached? %>
        <%= image_tag user.avatar,
            :gravity => "face",
            :crop => "crop",
            :class => "delegate-card__img",
            :width => "270", 
            :height => "270"%>
      <% else %>
        <%= image_tag "https://res.cloudinary.com/numama/image/upload/v1616795855/DISCOSPORT/discop_visual_boxing1_lwsyrs.png",
            :gravity => "face",
            :crop => "crop",
            :class => "delegate-card__img",
            :width => "270", 
            :height => "270"%>
      <% end %>
      <% if user.identity.nil? %>
          <% if user.country.nil? %>
          <% else %>
            <div class="delegate-card__country">
              <span class="flag-icon flag-icon-<%= user.country.downcase %> flag-icon-squared "></span>
            </div>
          <% end %>
        <% else %>
          <% if user.country.nil? %>
          <% else %>
            <div class="delegate-card__country">
              <span class="flag-icon flag-icon-<%= user.country.downcase %> flag-icon-squared "></span>
            </div>
          <% end %>
        <% end -%>
      <div class="d-flex">
        <%= simple_form_for user, url: profile_path(user), method: :patch do |f| %>
          <%= f.hidden_field :status, value: 'approved' %>
          <%= f.submit 'Approve', class: 'btn btn-sm btn-success m-1' %>
        <% end %>
        <%= simple_form_for user, url: profile_path(user), method: :patch do |f| %>
          <%= f.hidden_field :status, value: 'not approved' %>
          <%= f.submit 'Disapprove', class: 'btn btn-sm btn-danger m-1' %>
        <% end %>
      </div>
      <ul class="delegate-card__info">
        <li class="delegate-card__info-name">
          <strong><%= user.first_name %> <%= user.last_name %></strong>
        </li>
        <li class="delegate-card__info-member">
          <a href="<%= user.linkedin %>" class="text-white font-weight-bold">
           <strong><i class="fab fa-linkedin"></i> </strong>
         </a>
           | <%= user.job %>
        </li>
        <li class="delegate-card__info-member">
          <a href="mailto:<%= user.email %>" class="text-white font-weight-bold">
           <strong><i class="far fa-envelope"></i> </strong>
         </a>
           | <i class="fab fa-whatsapp text-white"></i> : <%= user.whatsapp %>
        </li>
        <li class="delegate-card__info-website">
          <a href="<%= user.website %>" class=" text-uppercase font-weight-bold">
            <%= user.company %>
          </a>
        </li>
        <li class="delegate-card__info-member">
          <%= user.member %> | <%= user.country %>
        </li>
        <% if user.identity.nil? %>
        <% else %>
        <li class="delegate-card__info-member">
          <hr>
          <%= user.identity.release %>
        </li>
        <% end %>
        <li class="delegate-card__info-btn">
          <%= link_to "Delegate Profile", profile_path(user), class: "delegate-card__btn" %>
        </li>

      </ul>
    </ul>
    </div>
    <div class="delegate-card__status">
      <% if user.identity.nil? %>
        <p class="delegate-card__status-text delegate-card__status-text--danger">
          <i class="far fa-address-card"></i>
          Profile Incomplete
        </p>
      <% else %>
        <p class="delegate-card__status-text  delegate-card__status-text--success">
          <i class="far fa-id-card"></i>
          Profile Completed
        </p>
      <% end %>
    </div>
  </div>
<% end %>
