<% @users_pending.each do |user| %>

  <!-- inicio do card -->
    <div class="card" style="width: 18rem;">
    <!-- avatar card -->
      <% if user.avatar.attached? %>
        <%= image_tag user.avatar, :gravity => "face", :crop=>"crop",
          :width=>200, :height=>200, :gravity => "face",
          :class => "rounded-circle p-2" %>
        <% else %>
          <%= image_tag "https://res.cloudinary.com/numama/image/upload/v1616795855/DISCOSPORT/discop_visual_boxing1_lwsyrs.png",
          :style => "height: 100%; width: 200px;" , :gravity => "face",
          :class => "rounded-circle p-2" %>
      <% end %>
          <!-- VALIDAÇÃO  Approve | Desaprove -->
          <div class="d-flex justify-content-center">
            <%= simple_form_for user, url: profile_path(user), method: :patch do |f| %>
              <%= f.hidden_field :status, value: 'approved' %>
              <%= f.submit 'Approve', class: 'btn btn-success m-1' %>
            <% end %>
            <%= simple_form_for user, url: profile_path(user), method: :patch do |f| %>
              <%= f.hidden_field :status, value: 'not approved' %>
              <%= f.submit 'Disapprove', class: 'btn btn-danger m-1' %>
            <% end %>
          </div>
      <!-- TITLE card : Nome Sobrenome | Company | website-->
      <div class="card-body">
      <!-- TITLE card : Nome Sobrenome | Company | website-->
        <h5 class="card-title  text-uppercase"><%= user.first_name %> <%= user.last_name %></h5>
        <h5 class="card-title text-uppercase text-primary"><%= user.company %></h5>
        <p class="card-title text-uppercase"><%= user.website %></p>
        <h6><span class="font-weight-bold text-primary"><%= user.member %></span></h6>
        <p class="card-title text-uppercase text-primary"><%= user.country %></p>
        <hr>
        <p class="card-text"><i class="fab fa-whatsapp"></i> | <%= user.whatsapp %> </p>
        <p class="card-text"><i class="far fa-envelope"></i> | <%= user.email %> </p>
        <hr>
      <!-- Confirmação Profile Completo  -->
        <% if user.identity.nil? %>
          <p class="text-danger"> <span class="font-weight-bold"><i class="far fa-address-card"></i>
            profile incomplete</span>
          </p>
        <% else %>
    <!-- Release : Porque eu vou no discosport -->
          <p class="card-text"> <%= user.identity.release %> </p>
          <hr>
          <p class="cart-text">  <span class="font-weight-bold text-success">
            <i class="far fa-id-card"> </i> Profile Completed </span> </p>
        <% end %>
                <%= link_to "linkedin", user.linkedin, :target => '_blank', :class => "btn btn-sm btn-outline-primary text-uppercase m-2" %>
        <%= link_to "WEBSITE", "http://#{user.website}" , :class => "btn btn-sm btn-outline-primary text-uppercase m-2", :target => '_blank' %>
      </div>


      <div class="card-footer">
        <%= link_to "Delegate Profile", profile_path(user), class: " btn btn-sm btn-primary btn-block text-uppercase m-2" %>
        <p class="card-text text-right"><small class="text-muted"><%= user.created_at %></small></p>
      </div>

    </div>
  <!-- fim do card -->
<% end %>
