
<footer class="footer" >
  <div class="footer__head">
    <div class="footer__container">
      <%= image_tag "https://res.cloudinary.com/numama/image/upload/v1616778797/DISCOSPORT/LOGO1_DISCOSPORT_MASTER_wtwyli.png",
                    class: "footer__logo",
                    alt: "Discosport logo" %>
      <ul class="footer__social">
        <li class="footer__social-item">
          <a href="https://www.linkedin.com/events/discosport100-virtual6780296446915829760/">
            <i class="fab align-middle fa-linkedin"></i>
          </a>
        </li>
      </ul>
    </div>
    <ul class="footer__nav">
      <li class="footer__nav-item">
        <%= link_to "About Us", "/about_us" %>
      </li>
      <li class="footer__nav-item">
        <a href="mailto:contact@discosport.tv?subject=Hello">Contact Us</a>
      </li>
      <li class="footer__nav-item">
        <%= link_to "Sign Up", new_user_registration_path %>
      </li>
      <li class="footer__nav-item">
        <%= link_to "Virtual Program", "/bootcamp" %>
      </li>
      <li class="footer__nav-item">        
        <%= link_to "Profile", new_user_registration_path %>
      </li>
    </ul>
  </div>
  <hr class="separator" style="--width: 130px"/>
  <div class="footer__subtext">
    <small class="footer__subtext-developed">
      developed by <a href="mailto:joa@birds.art.br?subject=DiscoSport">Birds Communications | JoA</a>
    </small>
    <small class="footer__subtext-copyrights">© All Rights Reserved to Basic Lead 2021</small>
  </div>
</footer>



