<nav class="navigation">
  <%= link_to "/", class: "navigation__logo" do %>
    <%= image_tag "https://res.cloudinary.com/numama/image/upload/v1616778797/DISCOSPORT/LOGO1_DISCOSPORT_MASTER_wtwyli.png",
                  class: "navigation__logo-img",
                  alt: "Discosport header logo, welcome!" %>
  <% end %>
  <div class="navigation__dropdown">
    <button class="hamburger hamburger--vortex navigation__btn" aria-expanded="false" type="button">
       <p class="sr-only" id="menu-label">Menu</p>
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
    <% # Usuário logado --------------------- %>
    <% if user_signed_in? %>
      <ul class="navigation__menu">
        
        <li class="navigation__menu-item">
          Hello, <%= current_user.first_name %>
        </li>
        <% # Possuí avatar --------------------- %>
        <li class="navigation__menu-item">
          <% if current_user.avatar.attached? %>
            <%= image_tag current_user.avatar, :width => 40, :height => 40, :gravity => "faces", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% elsif current_user.linkedin_picture_url? %>
            <%= image_tag current_user.linkedin_picture_url, class: "rounded-circle dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false, height: "50px" %>
          <% else %>
            <%= image_tag "https://res.cloudinary.com/numama/image/upload/v1617458735/DISCOSPORT/ICON_DISCOSPORT_bwjmfq.png", :width => 40, :height => 40, :gravity => "faces", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% end %>
        </li>
        <% # Nav items --------------------- %>
        <li class="navigation__menu-item">
          <%= link_to "About Discop", about_us_path, class: "dropdown-item" %>
        </li>
        <li class="navigation__menu-item">
          <%= link_to "Virtual Forum", "/bootcamp", class: "dropdown-item" %>
        </li>
        <li class="navigation__menu-item">
          <a class="dropdown-item" href="mailto:contact@discosport.tv?subject=Hello">Contact Us</a>
        </li>
        <li class="navigation__menu-item">
          <%= link_to "Profile", profile_path(current_user), class: "dropdown-item" %>
        </li>
        <li class="navigation__menu-item">
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        </li>
        <% # Acesso ao Dashboard --------------------- %>
        <li class="navigation__menu-item">
          <% if current_user.email == "patrickzuchowicki@basiclead.com" || current_user.email == "joa@birds.art.br" || current_user.email == "joa.azria@gmail.com" %>
            <%= link_to "DASHBOARD", dashboard_path, class: "dropdown-item text-danger" %>
          <% end %>
        </li>
      </ul>
    <% # Usuário não logado --------------------- %>
    <% else %>
      <ul class="navigation__menu">
        <li class="navigation__menu-item">
          <%= link_to "Login ", new_user_session_path, class: "navigation__menu-link" %>
        </li>
        <li class="navigation__menu-item">
          <%= link_to "About Us", about_us_path, class: "navigation__menu-link" %>
        </li>
        <li class="navigation__menu-item">
          <%= link_to "Virtual Forum", "/bootcamp", class: "navigation__menu-link" %>
        </li>
        <li class="navigation__menu-item">
          <%= mail_to "contact@discosport.tv", "Contact Us", class: "navigation__menu-link" %>
        </li>
      </ul>
    <% end %>
  </div>
</nav>
