

<div class="row row-cols-1 row-cols-md-3 g-4">
  <% @newsletters.each do |newsletter| %>
    <div class="col">
      <div class="card h-100">
        <%= image_tag newsletter.photo, :crop=>"crop", :width=>200, :height=>200, :class=>'card-img-top'%>
        <div class="card-body">
          <h5 class="card-title"> <%= newsletter.title %></h5>
          <p class="card-text font-weight-bold"><%= newsletter.punshline %></p>
          <p class="card-text"><%= newsletter.article %></p>
        </div>
        <div class="card-footer">
          <%= link_to "Read the article", newsletter.url, :class => "btn btn-outline-primary", :target => '_blank' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
