<!-- <div class="section m-5"> -->

  <div class="container">
    <div class="d-flex">
      <h1 class="mt-5 text-danger text-uppercase">UpGrade Your Visibility</h1>
    </div>
    <hr>
    <h5 class="text-primary text-uppercase">Maximise your visibility by UpGrading your status to expend for better result
      <span class="text-danger">before/during/after</span>
      Discosport 100%VIRTUAL | AFRICA </h5>
    <h6 class="text-primary text-uppercase">for more information, contact our sales team :
      <a href="mailto:sales@discosport.tv?subject=DISCOSPORT|ADD-ON">sales@discosport.tv</a>
     </h6>
    <a class="btn btn-primary my-2"
      href="mailto:sales@discosport.tv?subject=DISCOSPORT|ADD-ON">
      CONTACT OUR SALES TEAM</a>
    <hr>
  </div>

<!--
<div class="card-deck">

          <div class="card m-3">
            <img class="card-img-top" src="https://res.cloudinary.com/numama/image/upload/v1616795855/DISCOSPORT/discop_visual_basket_yf0h9k.png" alt="Card image cap">
                <div class="">
              <div class="card-body pt-5">

                  <div class="d-flex align-items-center">
                    <img  src="https://res.cloudinary.com/numama/image/upload/c_scale,w_160/v1616861878/DISCOSPORT/1_tvqkzr.png">
                <%#= cl_image_tag(package.image, width: 150, height: 150, crop: :thumb)%>

                    <h5 class="card-title ml-2"> <span class="font-weight-bold text-primary">ADD-ON#1</span> | FRONTLINE VISIBILITY</h5>
                  </div>
                                    <h5 class="card-text text-right"><span class="text-muted">$1,500</span></h5>

                   <hr>
                      <h5 class="card-text text-primary ">A true incubador Program to growth your project, including :</h5>
                      <div class="d-flex flex-column">
                        <h5 class="card-text">  <span class="font-weight-bold">Personalized marketplace</span>  research and database generation assistance. </h5>
                        <h5 class="card-text"> <span class="font-weight-bold">+</span>  <span class="font-weight-bold">company presentation</span>  [pre-recorded] before or after one of the webcasts. </h5>
                        <h5 class="card-text"> <span class="font-weight-bold">+ Double-page advertorial</span>  in the 2021 DISCOSPORT Almanac. </h5>
                        <h5 class="card-text"> <span class="font-weight-bold">+ Three presentation newsletters</span>   sent to delegates. </h5>
                        <h5 class="card-text"> <span class="font-weight-bold">+ Speaking opportunities</span>  during the Boot Camp Week. </h5>
                        <h5 class="card-text"> <span class="font-weight-bold">+ Company logo </span> inside the ‘Thank You to Our Partners’ web/Almanac page. </h5>
                        <h5 class="card-text"> <span class="font-weight-bold">+ Access to reports</span>  on Sub-Saharan Africa’s sports television industry. </h5>
                      </div>
                      <a href="#" class="mt-3 btn btn-outline-primary btn-lg btn-block">Up Grade Your MemberShip</a> -->
<!--                       <%= link_to "MORE DETAILS ", package_path(1), class: "btn mt-4 btn-primary btn-lg btn-block" %>

                </div>

              </div>
          </div>

      <div class="mt-3 mb-5 col-md-6 d-flex flex-column justify-content-around">
      <% @packages[1..8].each do |package| %>

          <div class="card-addon mt-1">
              <%= cl_image_tag(package.image, width: 150, height: 150, crop: :thumb)%>
                  <div class="card-addon-infos ">
              <div class="d-flex justify-content-between  mt-3">
                <h2 class="text-uppercase text-primary"><%= package.sku %> | <%= package.name %></h2>
                <h6 class="mt-1 d-flex justify-content-end text-muted"><small class="text-muted"><%= humanized_money_with_symbol(package.price) %></small></h6>
              </div>
              <p><%= package.description %></p>
            <%= link_to "MORE DETAILS ", package_path(package), class: "btn mt-2 btn-outline-primary btn-sm btn-block" %>
            </div>
          </div>

      <% end %>
      </div>
  </div> -->
