<div class="profile-card">
  <% if @user.avatar.attached? %>
    <%= image_tag @user.avatar , :gravity => "face", :crop=>"crop",:width=>200, :height=>200, class: "profile-card__avatar", alt: "Your profile picture" %>
  <% else %>
    <%= image_tag "https://res.cloudinary.com/numama/image/upload/v1616795855/DISCOSPORT/discop_visual_boxing1_lwsyrs.png" ,  class: "profile-card__avatar", alt: "Your profile picture"  %>
    <%= link_to "Add Your Avatar", edit_user_registration_path , :class => "profile-card__btn" %>
  <% end %>
  <% if @user.identity.nil? %>
    <ul class="profile-card__info">
      <li class="profile-card__info-item">
        <%= @user.gender %>  <%= @user.first_name %>  <%= @user.last_name %>
      </li>
      <li class="profile-card__info-item">
        <a class="profile-card__info-link" href="mailto:contact@discosport.tv?subject=Hello">
          CONTACT US
        </a>
      </li>
      <% unless current_user != @user.id %>
        <li class="profile-card__info-item">
          <%= link_to "EDIT YOUR PROFILE",  edit_user_registration_path, class: "profile-card__btn profile-card__btn--edit" %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <ul class="profile-card__info">
      <li class="profile-card__info-item">
        <%= @user.gender %> <%= @user.first_name %> <%= @user.last_name %>
      </li>
      <li class="profile-card__info-item">
        <%= @user.job %>
      </li>
      <li class="profile-card__info-item">
        <small>Attending as : <%= @user.member %></small>
      </li>
      <%# if current_user == @user %>
      <li class="profile-card__info-item">
        <small>Contact Info</small>
        <p><i class="fa fa-at"></i> <%= @user.email %></p>
        <a href="https://api.whatsapp.com/send?phone=<%= @user.whatsapp %>&text=Hello <%= @user.first_name %>!" target="_blank"><i class="fab fa-whatsapp"> </i> <%= @user.whatsapp %></a>
      </li>
      <%# end %>
      <li class="profile-card__info-item">
        <% if @user == current_user  %>
          <%= link_to "EDIT YOUR PROFILE", edit_user_registration_path, class: "profile-card__btn profile-card__btn--edit" %>
        <% else %>
          <!--          <#%= link_to "SEND A MESSAGE TO #{@user.first_name}",
              chatrooms_path(:invited_id => @user),
               chatrooms_path(@user),
                remote: true,
                 :data => {:toggle => "modal", :target => "#chatModal"},
              method: :post,
              class: "profile-card__btn profile-card__btn--chatroom text-uppercase" %>
        <#% end %> -->
          <%= link_to "Linkedin ", @user.linkedin , :class => "profile-card__btn profile-card__btn--linkedin", :target => '_blank' %>
        </li>
      </ul>
    <% end %>
  <% end %>
</div>
<!-- Modal -->
<!-- <div class="modal fade" id="chatModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">


    </div>
  </div>
</div> -->