<section class="profile-working">
  <%= render 'shared/profile_card' %>
  <ul class="profile-working__bio">
    <%= render 'search_bar' %>
    <!-- renderizando o search bar. necessita de ajuste! -->
    <% unless @users.nil? %>
      <h5><%= "Found: #{@users.count} delegate(s)" %></h5>
      <% @users.each do |user| %>
        <%= user.first_name %>
      <% end %>
    <% end %>
    <li class="profile-working__bio-item">
      <small>Company</small>
      <p class="<%= @user.phone ? '' : 'text-danger' %>"><%= @user.company || "Not registered"%></p>
    </li>
    <li class="profile-working__bio-item">
      <small>Main activity</small>
      <p class="<%= @user.activity ? '' : 'text-danger' %>"><%= @user.activity || "Not registered"%></p>
    </li>
    <li class="profile-working__bio-item">
      <small>Country</small>
      <p class="<%= @user.country ? '' : 'text-danger' %>"><%= @user.country || "Not registered"%></p>
    </li>
    <li class="profile-working__bio-item">
      <small>Website</small>
      <%= link_to "#{@user.website}",
        "#{@user.website}",
        :target => '_blank' ,
        :disabled => !!@user.company
      %>
    </li>
    <li class="profile-working__bio-item">
      <small>Phone</small>
      <p class="<%= @user.phone ? '' : 'text-danger' %>"><%= @user.phone || "Not registered"%></p>
    </li>
    <li class="profile-working__bio-item">
      <%#= link_to "VISIT #{@user.company} WEBSITE",
        "https://#{@user.website}",
        :class => "profile-card__btn profile-card__btn--linkedin text-uppercase",
        :target => '_blank' ,
        :disabled => !!@user.company
      %>
      <div class="container text-justify">
        <hr>
        <%=@user.identity.release %>
      </div>
    </li>
  </ul>
</section>