  <div class="col-md-4">
    <div class="card mb-3">
      <% if @user.avatar.attached? %>
          <%= image_tag @user.avatar ,  :gravity => "faces",  class: "card-img-top rounded-circle p-3", alt: "Card image cap" %>
        <% elsif %>
          <%= image_tag current_user.linkedin_picture_url || 'https://res.cloudinary.com/nico1711/image/upload/v1598849656/github_s6akfx.png', class: "card-img-top rounded-circle p-3", alt: "Card image cap" %>
        <% else %>
          <%= image_tag "https://res.cloudinary.com/numama/image/upload/v1616795855/DISCOSPORT/discop_visual_boxing1_lwsyrs.png" , :style => "height: 100%; width: 200px;", class: "card-img-top rounded-circle p-3", alt: "Card image cap"  %>
      <% end %>
      <!-- <img class="card-img-top rounded-circle p-3" src="https://res.cloudinary.com/numama/image/upload/v1617038321/DISCOSPORT/avatar_mushiki_discop_qiuv2c.png" alt="Card image cap"> -->
      <div class="card-body">
        <h5 class="card-title text-primary"><%= @identity.gender %> <%= @user.first_name %>  <span class="text-uppercase"><%= @user.last_name %></span></h5>
        <h5 class="card-text"><%= @identity.job %></h5>
        <h6 class="card-text">Attending as : <%= @identity.member %></h6>
        <div class="d-flex flex-column mt-3 pl-2">
          <h6 class="text-left"><i class="fas fa-at"></i> : <%= @user.email %></h6>
          <h6 class="text-left"><i class="fab fa-whatsapp"> : </i><%= @identity.whatsapp %></h6>
        </div>
        <!-- <button > </button> -->
        <!-- <i class="fab fa-linkedin"></i> -->
        <%= link_to "Linkedin ", @identity.linkedin , :class => "btn btn-block btn-outline-primary", :target => '_blank' %>
        <%= link_to "Talk to Us", chatroom_path(@user), :class => "btn btn-block text-uppercase btn-outline-primary", :target => '_blank' %>
<!--         <img class="card-img-bottom p-3" src="https://res.cloudinary.com/numama/image/upload/v1617099999/DISCOSPORT/image-asset_fwqjkm.png" alt="Card image cap">
 -->      </div>
      <class class="card-footer">
        <!-- <button class="btn btn-block btn-danger">hello</button> -->
        <% if current_user.email == "patrickzuchowicki@basiclead.com" || "joa@birds.art.br"%>
          <%= link_to "EDIT YOUR PROFILE",  edit_identity_path, class: "btn btn-block m-1 btn-outline-danger" %>
          <%= link_to "DASHBOARD", dashboard_path, class: "btn btn-block m-1 btn-danger" %>
        <% else %>
          <%= link_to "EDIT YOUR PROFILE",  edit_identity_path, class: "btn btn-block btn-danger" %>
        <% end %>
      </class>
    </div>
  </div>


  <div class="col-md-8 mt-5">
    <h3 class="text-secondary text-uppercase"><%= @identity.company %></h3>
    <h5 class="text-secondary">Main activity : <%= @identity.activity %>. </h5>
    <div class="row">
      <div class="col-4">
        Country : <%= @identity.country %>
      </div>
      <div class="col-4">
        <%= @identity.website %>
      </div>
      <div class="col-4">
        <%= @identity.phone %>
      </div>
    </div>
    <div class="row m-2 text-right">
      <%#= link_to "VISITE #{ @user.company} WEBSITE", @user.website, class: "btn btn-block btn-sm btn-outline-primary text-uppercase" %>
      <%= link_to "VISITE #{@identity.company} WEBSITE", "http://#{@identity.website}" , :class => "btn btn-block btn-outline-primary text-uppercase", :target => '_blank' %>
    </div>
    <hr>
    <p class="text-justify"><span class="text-danger">PRESENTATION: </span> <%= @identity.release %></p>

  </div>
