<section class="profile-working">
  <%= render 'shared/profile_card' %>
  <ul class="profile-working__bio">
    <!-- renderizando o search bar apenas se o user for o dono do profile -->
    <% if current_user == @user %>
      <%= render 'search_bar' %>
    <% end %>
    <!-- renderiza apenas se tiver resultado do search  -->
    <% unless @users.nil? %>
      <h5><%= "Found: #{@users.count} delegate(s)" %></h5>
      <% @users.each do |user| %>
        <%= link_to user.first_name, chatrooms_path(:invited_id => user), method: :post %>
      <% end %>
    <% end %>
    <!-- renderiza apenas se o user for o dono do profile acessado -->
    <% if current_user == @user %>
      <p>Active Conversations</p>
      <% @chatrooms.each do |chatroom| %>
        <!-- renderizando o nome do user que o current user esta conversando -->
        <% if chatroom.to_a[0].user.id != current_user.id %>
          <%= chatroom.to_a[0].user.first_name %>
        <% else %>
          <%= User.find(chatroom.to_a[0].invited_id).first_name %>
        <% end %>
        <div class="notification">
          <!-- renderizando a foto do user que enviou a ultima mensagem. necessita de formatação da turma do front -->
          <%= image_tag chatroom.to_a[0].messages.last&.user.avatar %>
          <div class="notification-content">
            <p>From: <small><%= chatroom.to_a[0].messages.last&.user.first_name %></small></p>
            <p> <strong> <i class="far fa-comment"></i> </strong> <%= chatroom.to_a[0].messages.last&.content %> </p>
          </div>
          <div class="notification-actions">
            <%= link_to 'Send a Message', chatroom_path(chatroom.to_a[0].id) %>
          </div>
        </div>
      <% end %>
    <% end %>
    <li class="profile-working__bio-item">
      <small>Company</small>
      <p class="<%= @user.phone ? '' : 'text-danger' %>"><%= @user.company || "Not registered"%></p>
    </li>
    <li class="profile-working__bio-item">
      <small>Main activity</small>
      <p class="<%= @user.activity ? '' : 'text-danger' %>"><%= @user.activity || "Not registered"%></p>
    </li>
    <li class="profile-working__bio-item">
      <small>Country</small>
      <p class="<%= @user.country ? '' : 'text-danger' %>"><%= @user.country || "Not registered"%></p>
    </li>
    <li class="profile-working__bio-item">
      <small>Website</small>
      <%= link_to "#{@user.website}",
        "#{@user.website}",
        :target => '_blank' ,
        :disabled => !!@user.company
      %>
    </li>
    <li class="profile-working__bio-item">
      <small>Phone</small>
      <p class="<%= @user.phone ? '' : 'text-danger' %>"><%= @user.phone || "Not registered"%></p>
    </li>
    <li class="profile-working__bio-item">
      <%#= link_to "VISIT #{@user.company} WEBSITE",
        "https://#{@user.website}",
        :class => "profile-card__btn profile-card__btn--linkedin text-uppercase",
        :target => '_blank' ,
        :disabled => !!@user.company
      %>
      <div class="container text-justify">
        <hr>
        <%=@user.identity.release %>
      </div>
    </li>
  </ul>
</section>