<section class="profile-working">
  <%= render 'shared/profile_card' %>
  <ul class="profile-working__bio">
    <!-- renderizando o search bar apenas se o user for o dono do profile -->
    <% if current_user == @user %>
      <%= render 'search_bar' %>
    <% end %>
    <!-- renderiza apenas se tiver resultado do search  -->
    <% unless @users.nil? %>
      <h5><%= "Found: #{@users.count} delegate(s)" %></h5>
      <div class="dashboard__validation-container ">
        <% @users.each do |user| %>
          <!-- renderizar delegate card -->
          <div class="delegate-card">
            <div class="delegate-card__main">
              <% if user.avatar.attached? %>
                <%= image_tag user.avatar,
            :gravity => "face",
            :crop => "crop",
            :class => "delegate-card__img",
            :width => "270",
            :height => "270"
          %>
              <% else %>
                <%= image_tag "https://res.cloudinary.com/numama/image/upload/v1616795855/DISCOSPORT/discop_visual_boxing1_lwsyrs.png",
            :gravity => "face",
            :crop => "crop",
            :class => "delegate-card__img",
            :width => "270",
            :height => "270"
          %>
              <% end %>
              <div class="delegate-card__country">
                <% if user.country.nil? %>
                <% else %>
                  <span class="flag-icon flag-icon-<%= user.country.downcase %> flag-icon-squared "></span>
                <% end %>
              </div>
              <ul class="delegate-card__info">
                <li class="delegate-card__info-name">
                  <strong><%= user.first_name %> <%= user.last_name %></strong>
                </li>
                <li class="delegate-card__info-member">
                  <a href="<%= user.linkedin %>" class="text-white font-weight-bold">
                    <strong><i class="fab fa-linkedin"></i> </strong>
                  </a>
                  | <%= user.job %>
                </li>
                <li class="delegate-card__info-website">
                  <a href="<%= user.website %>" class=" text-uppercase font-weight-bold">
                    <%= user.company %>
                  </a>
                </li>
                <li class="delegate-card__info-member">
                  <%= user.member %> | <%= user.country %>
                </li>
                <li class="delegate-card__info-btn">
                  <%= link_to "Delegate Profile", profile_path(user), class: "delegate-card__btn" %>
                </li>
              </ul>
            </div>
          </div>
          <%#= link_to user.first_name, chatrooms_path(:invited_id => user), method: :post %>
        <% end %>
      </div>
    <% end %>
    <!-- renderiza apenas se o user for o dono do profile acessado -->
    <% if current_user == @user %>
      <p>Active Conversations</p>
      <% @chatrooms.each do |chatroom| %>
        <!-- renderizando o nome do user que o current user esta conversando -->
        <% if chatroom.user.id != current_user.id %>
          <div class="notification">
            <!-- renderizando a foto do user que enviou a ultima mensagem-->
            <%= image_tag chatroom.user.avatar, :gravity=>'face' %>
            <div class="notification-content">
              <% if chatroom&.messages.last&.user.id == current_user.id %>
                <p>To: <small><%= chatroom.user.first_name %></small></p>
                <p> <strong> <i class="far fa-comment"></i> </strong> <%= chatroom.messages.last&.content %> </p>
              <% else %>
                <p>From: <small><%= chatroom.messages.last&.user.first_name %></small></p>
                <p> <strong> <i class="far fa-comment"></i> </strong> <%= chatroom.messages.last&.content %> </p>
              <% end %>
            </div>
            <div class="notification-actions">
              <%= link_to 'Send a Message', chatroom_path(chatroom.id) %>
            </div>
          </div>
        <% else %>
          <div class="notification">
            <!-- renderizando a foto do user que enviou a ultima mensagem-->
            <%= image_tag User.find(chatroom.invited_id).avatar, :gravity=>'face' %>
            <div class="notification-content">
              <% if chatroom.messages.last&.user.id == current_user.id %>
                <p>To: <small><%= User.find(chatroom.invited_id).first_name %></small></p>
                <p> <strong> <i class="far fa-comment"></i> </strong> <%= chatroom.messages.last&.content %> </p>
              <% else %>
                <p>From: <small><%= chatroom.messages.last&.user.first_name %></small></p>
                <p> <strong> <i class="far fa-comment"></i> </strong> <%= chatroom.messages.last&.content %> </p>
              <% end %>
            </div>
            <div class="notification-actions">
              <%= link_to 'Send a Message', chatroom_path(chatroom.id) %>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
    <li class="profile-working__bio-item">
      <small>Company</small>
      <p class="<%= @user.phone ? '' : 'text-danger' %>"><%= @user.company || "Not registered"%></p>
    </li>
    <li class="profile-working__bio-item">
      <small>Main activity</small>
      <p class="<%= @user.activity ? '' : 'text-danger' %>"><%= @user.activity || "Not registered"%></p>
    </li>
    <li class="profile-working__bio-item">
      <small>Country</small>
      <p class="<%= @user.country ? '' : 'text-danger' %>"><%= @user.country || "Not registered"%></p>
    </li>
    <li class="profile-working__bio-item">
      <small>Website</small>
      <%= link_to "#{@user.website}",
        "#{@user.website}",
        :target => '_blank' ,
        :disabled => !!@user.company
      %>
    </li>
    <li class="profile-working__bio-item">
      <small>Phone</small>
      <p class="<%= @user.phone ? '' : 'text-danger' %>"><%= @user.phone || "Not registered"%></p>
    </li>
    <li class="profile-working__bio-item">
      <%#= link_to "VISIT #{@user.company} WEBSITE",
        "https://#{@user.website}",
        :class => "profile-card__btn profile-card__btn--linkedin text-uppercase",
        :target => '_blank' ,
        :disabled => !!@user.company
      %>
      <div class="container text-justify">
        <hr>
        <%=@user.identity.release %>
        <% if current_user == @user %>
          <%= link_to "edit", edit_identity_path, class: 'btn btn-outline-primary btn-sm'  %>
        <% end %>
      </div>
    </li>
  </ul>
</section>
