<!-- <div class="container"> -->
  <div class="section m-5">
    <h3 class="text-danger">An exclusive digital event dedicated to C++ Level of ...</h3>
<div class="card-deck">
<!--       <div class="row justify-content-around">
 -->
  <!-- <div class="card"> -->
    <a href="<%= new_user_registration_path %>" class="card">
    <img class="card-img-top card-register" src="https://res.cloudinary.com/numama/image/upload/v1617144076/DISCOSPORT/square_woman_discop_over_n5kiah.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title text-uppercase">Creator</h5>
        <p class="card-text">You are a broadcaster, tv, mobile platforms...</p>
    </div>
    </a>
  <!-- </div> -->

<a href="<%= new_user_registration_path %>" class="card">
    <img class="card-img-top card-register" src="https://res.cloudinary.com/numama/image/upload/v1617144076/DISCOSPORT/square_networking_over_discop_kch3my.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title text-uppercase">Plateforms</h5>
        <p class="card-text">You are a broadcaster, tv, mobile platforms...</p>
    </div>
</a>

<a href="<%= new_user_registration_path %>" class="card">
    <img class="card-img-top card-register" src="https://res.cloudinary.com/numama/image/upload/v1617144076/DISCOSPORT/square_jump_discop_lzfgvv.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title text-uppercase">Advertisers</h5>
        <p class="card-text">You are an advertising agency...</p>
    </div>
  </a>

<a href="<%= new_user_registration_path %>" class="card">
    <img class="card-img-top card-register" src="https://res.cloudinary.com/numama/image/upload/v1617144076/DISCOSPORT/square_running_discop_omsquf.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title text-uppercase">AFRICAN SPORT FEDERATION</h5>
        <p class="card-text">You are an advertising agency...</p>
    </div>
  </a>

    <div class="container mt-5">
       <a href="<%= new_user_registration_path %>" class="btn btn-danger btn-lg btn-block ">Free - Registration</a>

    </div>


<!-- NEW CARDS UP -->
<!--
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://res.cloudinary.com/numama/image/upload/v1616795855/DISCOSPORT/discop_visual_foot_p5cpfx.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">BECOME A MEMBER</h5>
                <p class="card-text">A full access to our "4-Week Program" -  <span class="text-success font-weight-bold"> FREE OF CHARGE. </span></p>
              <a href="#" class="btn btn-outline-primary btn-lg btn-block">Be a Member</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://res.cloudinary.com/numama/image/upload/v1616795855/DISCOSPORT/discop_visual_basket_yf0h9k.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">FRONTLINE VISIBILITY</h5>
               <p class="card-text">A true incubador Program to assist your project to growths-  <span class="text-danger font-weight-bold"> A PAY MEMBER PROGRAM. </span></p>
              <a href="#" class="btn btn-outline-primary btn-lg btn-block">Be a Member</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://res.cloudinary.com/numama/image/upload/v1616795855/DISCOSPORT/discop_visual_boxing1_lwsyrs.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">PARTNER & SPONSORING VISIBILITY</h5>
                <p class="card-text">Full packages visibility to offer the best opportunities to your brand & projects</p>
              <a href="#" class="btn btn-outline-primary btn-lg btn-block">Be a Partner</a>
            </div>
        </div> -->
      <!-- </div> -->
    </div>
  </div>
<!-- </div> -->

