<!-- <div class="container"> -->
    <!-- <p class="text-justify">The 4-week program is offered <span class="text-primary font-weight-bold">free of charge</span> to qualified delegates. Privileges include access to the Virtual Ceremony, the Bootcamp Week, the Networking Weeks and the Pitching Competition. Participants will be able to interact with each other through a mobile/web-based app. They will also receive an electronic copy of the DISCOSPORT | Sub-Saharan Africa Almanac out by Monday 25 October. To facilitate the planning of meetings participants are regrouped into the following categories:</p> -->
  <div class="card-deck">
  <!--       <div class="row justify-content-around">
   -->
    <!-- <div class="card"> -->
        <a href="<%= new_user_registration_path %>" class="card text-decoration-none">
          <img class="card-img-top card-register" src="https://res.cloudinary.com/numama/image/upload/v1617632606/DISCOSPORT/squareboxeuse_srjrmn.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title text-uppercase">Vendor</h5>
              <p class="card-text">Monetization, delivery, dubbing solutions; sports marketing agencies;  tv rights distributors; talent agencies; equipment distributors; research consultancies.</p>
          </div>
          </a>
          <a href="<%= new_user_registration_path %>" class="card text-decoration-none">
          <img class="card-img-top card-register" src="https://res.cloudinary.com/numama/image/upload/v1617144076/DISCOSPORT/square_woman_discop_over_n5kiah.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title text-uppercase">Creator</h5>
              <p class="card-text">Writers, journalists, producers, directors.</p>
          </div>
          </a>
        <!-- </div> -->

      <a href="<%= new_user_registration_path %>" class="card text-decoration-none">
          <img class="card-img-top card-register" src="https://res.cloudinary.com/numama/image/upload/v1617144076/DISCOSPORT/square_networking_over_discop_kch3my.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title text-uppercase">Platform</h5>
              <p class="card-text">Public and commercial broadcasters, premium channels, pay-tv operators, mobile networks and streaming platforms.</p>
          </div>
      </a>
  <a href="<%= new_user_registration_path %>" class="card text-decoration-none">
      <img class="card-img-top card-register" src="https://res.cloudinary.com/numama/image/upload/v1617144076/DISCOSPORT/square_jump_discop_lzfgvv.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title text-uppercase">Advertiser</h5>
          <p class="card-text"> Brands, advertising agencies, merchandisers, marketers.</p>
      </div>
    </a>

  <a href="<%= new_user_registration_path %>" class="card text-decoration-none">
      <img class="card-img-top card-register" src="https://res.cloudinary.com/numama/image/upload/v1617144076/DISCOSPORT/square_running_discop_omsquf.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title text-uppercase"> SPORT FEDERATION</h5>
          <p class="card-text">Sports governing bodies in Sub-Saharan Africa.</p>
      </div>
    </a>
      <div class="container mt-5">
      <% if user_signed_in? %>

        <% else %>
          <a href="<%= new_user_registration_path %>" class="btn btn-danger text-uppercase btn-lg btn-block ">Free - Sign Up</a>

        <% end %>
      </div>

    </div>
<!-- </div> -->

