
  <div class="dashboard">
    <div class="dashboard__actions">
      <%= render "shared/newsletter_dashboard" %>
      <%= render "shared/dashboard_delegates_counter" %>
      <%= render "shared/search_bar" %>
    </div>

    <% if @results.nil? %>
      <%= render "shared/dashboard_validation" %>
      <% else %>
   <div class="dashboard__validation-container ">


      <% @results.each do |result| %>


  <div class="delegate-card">

    <div class="delegate-card__main">

      <% if result.avatar.attached? %>
        <%= image_tag result.avatar,
            :gravity => "face",
            :crop => "crop",
            :class => "delegate-card__img",
            :width => "270",
            :height => "270"
          %>
      <% else %>
        <%= image_tag "https://res.cloudinary.com/numama/image/upload/v1616795855/DISCOSPORT/discop_visual_boxing1_lwsyrs.png",
            :gravity => "face",
            :crop => "crop",
            :class => "delegate-card__img",
            :width => "270",
            :height => "270"
          %>
      <% end %>
      <div class="delegate-card__country">
        <% if result.country.nil? %>
        <% else %>
        <span class="flag-icon flag-icon-<%= result.country.downcase %> flag-icon-squared "></span>
        <% end %>
      </div>

      <ul class="delegate-card__info">
        <li class="delegate-card__info-name">
          <strong><%= result.first_name %> <%= result.last_name %></strong>
        </li>
        <li class="delegate-card__info-member">
          <a href="<%= result.linkedin %>" class="text-white font-weight-bold">
           <strong><i class="fab fa-linkedin"></i> </strong>
         </a>
           | <%= result.job %>
        </li>
        <li class="delegate-card__info-website">
          <a href="<%= result.website %>" class=" text-uppercase font-weight-bold">
            <%= result.company %>
          </a>
        </li>
        <li class="delegate-card__info-member">
          <%= result.member %> | <%= result.country %>
        </li>
        <li class="delegate-card__info-btn">
          <%= link_to "Delegate Profile", profile_path(result), class: "delegate-card__btn" %>
        </li>

      </ul>
    </ul>
    </div>
    <div class="delegate-card__status">
      <% if result.identity.nil? %>
        <p class="delegate-card__status-text delegate-card__status-text--danger">
          <i class="far fa-address-card"></i>
          Profile Incomplete
        </p>
      <% else %>
        <p class="delegate-card__status-text  delegate-card__status-text--success">
          <i class="far fa-id-card"></i>
          Profile Completed
        </p>
      <% end %>
    </div>
  </div>

  <% end %>


    <% end %>
  </div>
</div>
