<div class="container bg-white pb-3 mb-3">

  <div class="row align-items-center my-3 pt-md-4 ">
    <div class="col-1">
      <img class="avatar" src="https://res.cloudinary.com/numama/image/upload/v1617118315/DISCOSPORT/icon_people_discop_hjcv0s.png">
    </div>
    <div class="col-md-3">
      <h5 class="font-weight-bold text-left">DELEGATES :</h5>
    </div>
    <div class="col-md-3">
      <h5 class="font-weight-bold"><%= @users_approved.count %>  APPROVED </h5>

    </div>
    <div class="col-md-3 text-danger ">
      <h5 ><span class="font-weight-bold"><%= @users_pending.count %> </span> PENDING</h5>
    </div>
    <div class="col-md-2">
      <h6><%= @users_not_approved.count %>  REFUSED</h6>

    </div>
  </div>

  <%= render 'shared/search_bar' %>

</div>

  <%= render 'shared/dashboard_validation' %>


