        <%= render 'shared/banner' %>
      <hr>
    <h1 class="text-primary">MARK YOUR AGENDA  </h1>
        <%= render 'shared/intro' %>
        <hr class="mt-5">

    <h1 class="text-primary text-right">SUBSAHARAN AFRICAN OVERVIEW</h1>
        <%= render 'shared/africa' %>
        <hr class="mt-5">

    <h1 class="text-primary">AN "ALL IN" EVENT DESIGNED TO DELIVER RESULTS </h1>
        <%= render 'shared/reasons' %>
        <hr class="mt-5">

    <h1 class="text-primary">SUBMIT YOUR REGISTRATION NOW </h1>
      <h5 class="text-danger">QUALIFICATED PARTICIPANTS ONLY</h5>
      <%= render 'shared/register' %>
      <hr class="mt-5">

      <%= render 'shared/what' %>
      <hr class="mt-5">

<!--     <h1 class="text-primary text-center">CONFIRMED SPEAKERS</h1>
      <%#= render 'shared/speaker' %>

   <hr class="mt-5"> -->


  <section class="pt-2">
<h1 class="text-primary m-3">BOOTCAMP : 20 HIGHTLEVEL WEBCASTS</h1>
      <%= render 'shared/webcast' %>
 </section>

    <hr class="mt-5">

<section class="pt-2">
<h1 class="text-primary text-right m-3">PITCHING COMPETITION</h1>
      <%= render 'shared/pitching' %>
 </section>

<hr>


         <%= link_to "SIGN UP FOR NEWSLETTER!", new_user_registration_path, class: " btn btn-lg btn-primary text-uppercase btn-block my-3" %>


  <hr class="mt-5">

