        <%= render 'shared/banner' %>
      <hr>
    <h1 class="text-primary">MARK YOUR <span class="text-danger">AGENDA</span>   </h1>
        <%= render 'shared/intro' %>
        <hr class="mt-5">

    <h1 class="text-primary text-right">SUBSAHARAN AFRICAN  <span class="text-danger">OVERVIEW</span> </h1>
        <%= render 'shared/africa' %>
        <hr class="mt-5">

    <h1 class="text-primary">AN <span class="text-danger">"ALL IN"</span>  EVENT DESIGNED TO DELIVER RESULTS </h1>
        <%= render 'shared/reasons' %>
        <hr class="mt-5">

    <h1 class="text-primary">SUBMIT YOUR REGISTRATION NOW </h1>
      <h5 class="text-danger">QUALIFICATED PARTICIPANTS ONLY</h5>
      <%= render 'shared/register' %>
      <hr class="mt-5">

      <%= render 'shared/what' %>
      <hr class="mt-5">

<!--     <h1 class="text-primary text-center">CONFIRMED SPEAKERS</h1>
      <%#= render 'shared/speaker' %>

   <hr class="mt-5"> -->


  <section class="pt-2">
<h1 class="text-primary m-3"> <span class="text-danger">BOOTCAMP</span>  : 30 HIGHTLEVEL WEBCASTS</h1>
      <%= render 'shared/webcast' %>
 </section>

    <hr class="mt-5">

<!-- <section class="pt-2 mb-3">
<h1 class="text-primary m-3"> <span class="text-danger">PITCHING</span>  COMPETITION</h1>
      <%#= render 'shared/pitching' %>
 </section> -->


<% if user_signed_in? %>

<% else %>
    <hr>

  <section class="pt-2 mb-3">
    <h1 class="text-primary text-right m-3"> <span class="text-danger">PREMIUM</span>  NEWSLETTER</h1>
          <%= render 'shared/newsletter_prez' %>
   </section>
<% end %>



