<%= render "shared/banner" %>
<section class="container">
  <hr>
  <h1 class="text-primary text-right">
    MARK YOUR <span class="text-danger">AGENDA</span>
  </h1>
    <%= render "shared/intro" %>
  <h1 class="text-primary text-right m-3">
    <span class="text-danger">
    DISCOSPORT</span> | SHORT NEWS
  </h1>
    <%= render "shared/newsletters_display_home" %>
       <%= link_to "ACCESS TO ALL NEWS", newsletters_path, class: " btn btn-lg btn-outline-primary text-right m-3" %>
  <hr class="mt-2">

  <section class="pt-2 mb-3">
        <hr>
        <h1 class="text-primary text-right m-3">
          <span class="text-danger">DISCOSPORT</span> | NEWSLETTER
        </h1>
      <%= render "shared/newsletter_prez" %>
      </section>

  <h1 class="text-primary">
    MOST RECENT<span class="text-danger"> DELEGATES</span>
  </h1>

    <%= render "shared/delegates_most_recent" %>
    <%= link_to "ACCESS TO ALL DELEGATES LIST", delegates_path, class: " btn btn-lg btn-outline-primary text-right m-3" %>



      <hr class="mt-2">

</section>
