<div class="container">
    <hr class="mt-3">
          <%= render "shared/kcc" %>
  <div class="container d-flex flex-wrap mt-4" style="gap: 1ch;">
    <h5 class=" text-justify mt-0 text-danger text-uppercase">
      Please send an email to <%= mail_to "sales@discosport.tv", 'sales@discosport.tv' %> to receive the current floorplan, our exhibit booking form and the sponsorships presentation kit.
    </h5>
    <a class="btn btn-danger text-uppercase text-white align-self-start py-2 px-3"
      href="mailto:contact@discosport.tv?subject=DiscoSport | Floor Plab">
      floor plan request SALES@DISCOSPORT.TV
    </a>
  </div>
      <hr class="mt-2">
    <h1 class="text-primary">AN <span class="text-danger">"ALL IN"</span>  EVENT DESIGNED TO DELIVER RESULTS </h1>
      <%= render "shared/reasons" %>
    <hr class="mt-3">


    <hr>
<!--         <h1 class="text-primary">
      MEET YOUR <span class="text-danger"> AMBASSADORS</span>
    </h1>
      <%#= link_to "ACCESS TO ALL DELEGATES LIST", delegates_path, class: " btn btn-lg btn-outline-primary text-right m-3" %>

      <%#= render "shared/staff" %>
 -->

        <h1 class="text-primary">SUBMIT YOUR REGISTRATION NOW </h1>
        <h5 class="text-danger">QUALIFIED PARTICIPANTS ONLY</h5>
        <%= render "shared/register" %>
        <br>
        <a href="<%= new_user_registration_path %>"
          class="btn btn-danger text-uppercase btn-lg btn-block ">
        CLICK HERE TO REGISTER</a>
        <hr>





</div>
