  <%= render 'shared/banner' %>
  <hr>
<div class="container">
  <div class="row">
    <div class="col-md-4">
              <div class="card mb-3">
            <!-- <img class="card-img-top rounded-circle p-3" src="https://res.cloudinary.com/numama/image/upload/v1617038321/DISCOSPORT/avatar_mushiki_discop_qiuv2c.png" alt="Card image cap"> -->
                          <%= image_tag current_user.avatar ,  :gravity => "faces",  class: "card-img-top rounded-circle p-3", alt: "Card image cap" %>

              <div class="card-body">
                <h5 class="card-title text-primary"><%= current_user.gender %> <%= current_user.first_name %>  <span class="text-uppercase"><%= current_user.last_name %></span></h5>
                  <h5 class="card-text"><%= current_user.job %></h5>
                  <div class="row mt-3 pl-2">

                        <h6 class="text-center"><i class="fas fa-at"></i> : <%= current_user.email %></h6>



                        <h6 class="text-center"><i class="fab fa-whatsapp"> : </i><%= current_user.whatsapp %></h6>

                  </div>
                  <button class="btn btn-block btn-primary"> <i class="fab fa-linkedin"></i> Linkedin </button>
            <!-- <img class="card-img-bottom p-3" src="https://res.cloudinary.com/numama/image/upload/v1617099999/DISCOSPORT/image-asset_fwqjkm.png" alt="Card image cap"> -->
              </div>
          </div>

    </div>
    <div class="col-md-8 mt-5">
      <h3 class="text-secondary text-uppercase"><%= current_user.company %></h3>
      <h5 class="text-secondary">Main activity : <%= current_user.activity %></h5>
      <div class="row">
        <div class="col-4">
          Country : <%= current_user.country %>
        </div>
        <div class="col-4">
         <%= current_user.website %>
        </div>
        <div class="col-4">
          <%= current_user.phone %>
        </div>
      </div>
      <div class="row">
        <button class="btn btn-primary">VISITE WEBSITE</button>

      </div>
      <hr>
      <p class="text-justify"><span class="text-danger">PRESENTATION: </span> <%= current_user.release %></p>

                  <button class="btn text-right btn-primary">EDIT YOUR PERFIL</button>

    </div>
                  <button class="btn btn-block btn-outline-primary">DISCOVER ANOTHER SPEAKER</button>

  </div>
