<p>Hello Patrick</p>
<p></p>

<p>Tu as un nouvel user sur DiscoSport.TV</p>


<p>Nom : <%= @user.first_name %> <%= @user.last_name %> </p>
<p>Working for <%= @user.company %> from <%= @user.country %> and attending as <%= @user.member %> </p>
<p></p>
<p>CONTACT DETAILS</p>
<p>E-Mail : <%= @user.email %></p>
<p>Whatsapp : <%= @user.whatsapp %> </p>
<p>Linkedin : <%= @user.linkedin %></p>
<p>Website : <%= @user.website %></p>
<p></p>
<p>WHY IS ATTENDING :</p>
<p><%= @user.release %></p>

