<!DOCTYPE html>
<html>
  <head>
    <title>DISCOSPORT</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'favicon.ico' %>
    <meta property="og:image" content="https://res.cloudinary.com/numama/image/upload/v1617662251/DISCOSPORT/og_post_discop_ef9zo4.png">
<meta property="og:url" content="www.discosport.tv">
<meta property="og:title" content="DISCOSPORT 100% Virtual | Africa ">
<meta property="og:description" content="THE FAST-GROWING MARKETPLACE OF SUBSAHARAN AFRICAN SPORT TV MARKET
">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <div class="container">
      <%= render 'shared/navbar' %>
      <%= render 'shared/flashes' %>

      <%= yield %>



    </div>
      <%= render 'shared/footer' %>
  </body>
</html>
